/* --- --- --- GLOBAL --- --- --- */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Buycat';
    src: url(../font/Buycat.otf), url(../font/Buycat.ttf);
    font-weight: normal;
    font-style: normal;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    overflow-x: hidden
}

h1, h2, h3 {
    font-family: Comfortaa, cursive;
}
h1, h2 {
    font-weight: 700;
    color: #A51BD0;
    text-shadow: -1px 0px 2px #ECE300;
}
p {
    font-family: Overpass, sans-serif;
    line-height: 1.3rem;
    text-align: justify;
    color: rgb(80, 80, 80);
}
a {
    font-family: 'Buycat';
    font-weight: 100;
}
li {
    font-family: Overpass, sans-serif;
    color: rgb(80, 80, 80);
}

/* --- --- --- HEADER --- --- --- */

/* .void {
    display: none;
} */

#header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#header .img-cntr {
    background: linear-gradient(
        360deg,
        #c066db 10%,
        #c378da 30%,
        #cf97e0 60%,
        #ddb2eb 85%,
        white
    );
}
.img-cntr img {
    display: block;
    margin: auto;
    text-align: center;
}
#header nav {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -1px;
    background-color: #c066db;
}
#nav-bar a {
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding: 7px 0 5px 0;
    text-align: center;
    color: rgb(150, 255, 255);
    text-shadow: -1px 0 1px #F3E4CB;
}
#nav-bar a:visited {
    color: rgb(150, 255, 255);
    
}
#header hr {
    position: relative;
    top: -1px;
    height: 1px;
    border: none;
    background-color: #A51BD0;
}

/* --- --- --- MAIN --- --- --- */
/* --- ---  SPECS  --- --- */

main {
    margin-top: 170px;
}
main .specs-cntr {
    max-width: 650px;
    margin: auto;
    margin-bottom: 20px;
}
.specs-cntr h1 {
    text-align: center;
    margin-bottom: 15px;
}
.specs-cntr .specs-unit {
    display: flex;
    margin: 0 10px;
    margin-bottom: 1rem;
    background-color: #fdfcdf;
    border: 1px solid #ECE300;
    border-radius: 10px; 
}
.specs-cntr .tiny-cntr {
    display: flex;
    align-items: center;
    border-right: 1px solid #ECE300;
}
.specs-cntr .material-symbols-rounded {
    display: block;
    font-size: 35px;
    color: #A51BD0;
}
.specs-cntr .p-cntr {
    display: flex;
    align-items: center;
}
.p-cntr p {
    display: block;
    text-align: justify;
    margin: 2px 5px;
    font-size: 1.1rem;
}
/* --- ---  VIDEO  --- --- */
main .video-cntr {
    margin-top: -10px;
    background: linear-gradient(
        360deg,
        #A51BD0 20%,
        #aa30cf 40%,
        #b54fd4 60%,
        #ffffff
        );
}
.video-cntr .video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    position: relative;
    top: 1px;
    margin: auto;
    min-width: 375px;
    max-width: 720px;
    width: 70vw;
}
.video img {
    position: relative;
    top: 20px;
    left: -10px;
    display: block;
    width: 200px;
}
.video h3 {
    margin-bottom: 15px;
    padding-right: 20px;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(150, 255, 255);
    text-shadow: -1px 0 1px #F3E4CB;
}
.video iframe {
    grid-column: 1 / -1;
    min-width: 375px;
    width: 70vw;
    max-width: 720px;
    min-height: calc(375px*0.563);
    height: calc(70vw*0.563);
    max-height: calc(720px*0.563);
    border: 1px solid rgba(236, 228, 0, 0.5);
}
/* --- ---  FORM  --- --- */
main #Contact_us {
    margin: 20px 0;
}
#Contact_us #email {
    width: 75%;
    max-width: 450px;
    height: 1.5rem;
    display: block;
    font-family: Overpass, sans-serif;
    text-indent: 0.5rem;
    margin: auto;
    border: 1px solid #ECE300;
    border-radius: 5px;
}
#Contact_us #submit {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    font-family: Comfortaa, cursive;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    background-color: #A51BD0;
    color: rgb(150, 255, 255);
    border-top: 0;
    border-right: 1px solid #ddb2eb;
    border-bottom: 0;
    border-left: 1px solid #ddb2eb;
    
    background: linear-gradient(
        to top,
        #A51BD0 45%,
        #ddb2eb 60%
    ) bottom;
    background-size: 250% 250%;
    transition: .5s ease-out;
}
#Contact_us #submit:hover {
    background-position: top;
}
#Contact_us #submit:active {
    position: relative;
    top: 1px;
    left: 1px;
}
/* --- ---  CARDS  --- --- */
.plans h1 {
    text-align: center;
    margin-bottom: 15px;
}
.plans p {
    max-width: 750px;
    margin: 0 auto 5px auto;
    padding: 0 5px;
    text-align: justify;
    text-indent: 0.5rem;
}
.card-cntr {
    display: flex;
    flex-direction: column;
}
.card {
    width: 255px;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
}
.card h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.card ul {
    padding-left: 20px;
}
.card li {
    line-height: 1.5rem;
}
.card button {
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    padding: 3px 0;
    background-color: transparent;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.3rem;
}
.card-cntr .c1 {
    border: 1px solid #ac5000;
    background: url(../img/gatinho-1-bronze.png) no-repeat center center, repeating-linear-gradient(
        55deg,
        #EA871E,
        #EA871E 20%,
        #faa347 25%,
        #EA871E 30%,
        #EA871E 50%,
        #ffae57 65%,
        #EA871E 75%,
        #f0902a
    );
    background-size: contain;
    box-shadow: -1px 2px 1px #7E3A06;
}
.c1 h3 {
    color: #7E3A06;
    text-shadow: -1px 0px 1px #7E3A06;
}
.c1 li {
    color: #faa347;
    text-shadow: -1px 1px 2px #7E3A06;
}
.c1 button {
    color: #faa347;
    text-shadow: -1px 1px 2px #7E3A06;
    transition: 1s ease-out;
}
.c1 button:hover {
    background-color: #7E3A06;
    box-shadow: -1px 2px 1px #ffae57;
}
.card-cntr .c2 {
    border: 1px solid rgb(145, 146, 146);
    background: url(../img/gatinho-6-prata.png) no-repeat center center, repeating-linear-gradient(
        55deg,
        #A8A9AD,
        #A8A9AD 20%,
        #c0c2c9 25%,
        #A8A9AD 30%,
        #A8A9AD 50%,
        #d6d7db 65%,
        #A8A9AD 75%,
        #bfc1c7
    );
    background-size: contain;
    box-shadow: -1px 2px 1px #757575;
}
.c2 h3 {
    color: #757575;
    text-shadow: -1px 0px 1px #757575;
}
.c2 li {
    color: #d6d7db;
    text-shadow: -1px 1px 2px #757575;
}
.c2 button {
    color: #d6d7db;
    text-shadow: -1px 1px 2px #757575;
    transition: 1s ease-out;
}
.c2 button:hover {
    background-color: #757575;
    box-shadow: -1px 2px 1px #d6d7db;
}
.card-cntr .c3 {
    border: 1px solid #F7B900;
    background: url(../img/gatinho-3-ouro.png) no-repeat center center, repeating-linear-gradient(
        55deg,
        #F7C93E,
        #F7C93E 20%,
        #ffd147 25%,
        #F7C93E 30%,
        #F7C93E 50%,
        #fdd765 65%,
        #F7C93E 75%,
        #fcce46
    );
    background-size: contain;
    box-shadow: -1px 2px 1px #A17800;
}
.c3 h3 {
    color: #A17800;
    text-shadow: -1px 0px 1px #A17800;
}
.c3 li {
    color: #fdd765;
    text-shadow: -1px 1px 1px #A17800;
}
.c3 button {
    color: #fdd765;
    text-shadow: -1px 1px 1px #A17800;
    transition: 1s ease-out;
}
.c3 button:hover {
    background-color: #A17800;
    box-shadow: -1px 2px 1px #fdd765;
}
.card .asterisk {
    font-weight: bold;
    font-size: 0.8rem;
}
.plans .tiny-text {
    font-size: 0.8rem;
    text-indent: 0;
    margin: auto;
}
.plans .tt1 {
    margin-top: -25px;
}

/* --- --- --- FOOTER --- --- --- */

footer {
    margin-top: 20px;
    padding: 15px 5px;
    background-color: #A51BD0;
}
footer p {
    text-align: center;
    color: white;
}
footer a {
    font-family: Overpass, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
footer a:visited {
    color: white;
}
footer a:hover {
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.507);
}