*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    flex-direction: column;
}
#header img {
    display: block;
    margin: auto;
    text-align: center;
}
#header nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
